header{
    text-align: center;
}

.panel{
    width: 90% !important;
    display: block !important;
    margin: 0 auto !important;
    margin-top: 2%;
}

input[type='checkbox']{
    width: 1.7% !important;
}